body{
    height: 98%;
    width: 98%;
    background-image: url("./squares.png");
    background-repeat: repeat;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
button{
    cursor: pointer;
    -webkit-appearance: button;
    border-radius: 5px;
    background: #f3d078;
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
    width: 130px;
}
button:hover{
    background: #f0c762;
}
a {
    outline: 0;
}
a:hover, a:active, a:focus {
    outline: 0;
}
object, embed { 
    outline: 0;
}
button::-moz-focus-inner {
    border: 0;
}
  
  
.input-text{
    height: 31px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 1px 1px  inset;
    -moz-box-shadow: 0px 0px 1px 1px  inset;
    box-shadow: 0px 0px 1px 1px inset;
    transition: all 100ms linear;
    box-sizing: border-box;
    vertical-align: middle;
}

.form-container{
    /* background-color: #fff; */
    border-radius: 5px;
    border-top: 1px solid #d8dee2;
    border-top: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    font-size: 14px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    min-width: 300px;
}

#spanErrorMsg{
    -webkit-transition: opacity 350ms ease-in-out;
    -moz-transition: opacity 350ms ease-in-out;
    -o-transition: opacity 350ms ease-in-out;
    -ms-transition: opacity 350ms ease-in-out;
    transition: opacity 350ms ease-in-out;
}
.hide{
    opacity: 0;
}
.show{
    opacity: 1;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    .form-container{
        width: 400px;
    }
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    .form-container{
        width: 400px;
    }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .form-container{
        width: 300px;
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .form-container{
        width: 300px;
    }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    .form-container{
        width: 100%;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    .form-container{
        width: 100%;
    }
}


.fixed-footer{
    position: fixed;
    bottom: 0;
    left: 0;
}
.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.font-200 {
    font-size: 2rem;
}
.font-bold {
    font-weight: bold;
}
.color-red-one{
    color: #ff6666;
}
.container{
    margin: 20px;
    height: calc(100%-20px);
    width: calc(100%-10px);
}
.text-center{
    text-align: center;
}
.align-center{
    margin: auto;
}
.display-block{
    display: block;
}
.display-inl-block{
    display: inline-block;
}
.col-xs-12{
    width: 100%;
}
.col-sm-10{
    width: 90%
}
.col-md-6{
    width: 50%;
}
.padding-10{
    padding: 10px;
}
.padding-20{
    padding: 20px;
}
.margin-bottom-40{
    margin-bottom: 60px;
}
.margin-tob-30{
    margin-top: 30px;
    margin-bottom: 30px;
}
.margin-tob-20{
    margin-top: 20px;
    margin-bottom: 20px;
}